.custom-shape-divider-bottom-1646688328 {
    position: absolute;
    bottom: -60px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1646688328 svg {
    position: relative;
    display: block;
    width: calc(200% + 1.3px);
    height: 145px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1646688328 .shape-fill {
    fill: #FFFFFF;
}

